<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <center>
            <h2>Data is here !</h2>
            <div>
                Add New User : <a href="/register">Register New User Here !</a>
            </div>
            {% if result is defined %}
                <table border="1px">
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Actions</th>
                    </tr>
                    {% for record in result %}
                        <tr>
                            <td>{{record['firstname']}}</td>
                            <td>{{record['lastname']}}</td>
                            <td>{{record['username']}}</td>
                            <td>{{record['password']}}</td>
                            <td>
                                <a href="/update/{{record['id']}}">Update</a>&nbsp;&nbsp;&nbsp;
                                <a href="/delete/{{record['id']}}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h2>No records</h2>
            {% endif %}
        </center>
    </body>
</html>